<%- include('../../layouts/layout_start', {title}) %>


<h1><%= title %></h1>


<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title"><%= data.title %></h5>
                <h6><%= data.authors %></h6>
                <p class="card-text"><%= data.description %></p>

                <a href="/books/<%= data.id %>/download"><%= data.fileName %></a><span title="<%= counter.datetime %>">(<%= counter.counter %>)</span>

                <div class="text-right">
                    <a class="btn btn-sm btn-primary" href="/books/edit/<%= data.id %>">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <form action="/books/delete/<%= data.id %>" method="POST" class="d-inline">
                        <button class="btn btn-sm btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>




<%- include('../../layouts/layout_end') %>

